@import "variable";


@mixin flex( $direction, $align, $justify ) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: 10px;
}

@mixin container() {
    margin: 0 5%;
}

@mixin room_container {
    margin: 0 14%;
}

@mixin button() {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid $secondary;
}