@import "variable", "reusable";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
}

.container {
    @include container();
}

header {
    width: 100%;
    background-color: antiquewhite;

    .container {
        .wrapper, .falex {
            @include flex( row, center, space-between );
        }
    }
}