@import "variable", "reusable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "blinker", "Helvetica", "Roboto", sans-serif;
}

.container {
  @include container();
}

.falex {
  @include flex(row, center, space-between);
}

header {
  width: 100%;
  border-bottom: 1px solid $secondary;

  .container {
    .wrapper,
    .falex {
      min-height: 10vh;
      @include flex(row, center, space-between);
    }

    .wrapper > * {
      flex: 1;
    }

    .logo {
      color: $primary;
      @include flex(row, center, flex-start);

      .logo-color {
        font-weight: 700;
        font-size: 24px;
      }
    }

    .search,
    .samll-search {
      padding: 15px;
      @include flex(row, center, center);

      .search-container {
        min-height: 0;
        border: 1px solid $secondary;
        padding: 10px;
        border-radius: 30px;
        box-shadow: 0px 4px 25px -5px $shadow;
        cursor: pointer;

        .any {
          padding: 0 10px;
          font-weight: 450;
          border-right: 1px solid $shadow;
        }

        .light-text {
          color: $secondary;
          font-weight: 300;
          border: 0;
        }

        .serach-logo {
          background-color: $primary;
          @include flex(row, center, center);
          color: white;

          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
      }

      .search-container:hover {
        box-shadow: 0px 4px 10px 0px $secondary;
      }
    }

    .end-flex {
      @include flex(row, center, flex-end);
    }

    .samll-search {
      width: 20%;
    }

    .hoverable {
      padding: 10px;
    }

    .hoverable:hover {
      border-radius: 20px;
      background-color: $light-shadow;
    }
  }
}

// filter container css
.filter-section {
    background-color: antiquewhite;
  width: 100%;
  min-height: 10vh;
  padding: 10px 0;

  .icon-filter {
    width: 90%;
    @include flex(row, flex-start, flex-start);

    .owl-carousel {
      .item {
        position: relative;

        span {
          position: relative;
          padding: 20px 0;
          @include flex(column, center, flex-start);
          filter: contrast(calc(13 / 44));

          img {
            width: 24px;
          }

          p {
            font-weight: 500;
            font-size: 14px;
          }

          &:hover {
            filter: contrast(1);
          }

          &::after {
            content: "";
            height: 0px;
            width: 100%;
            background-color: $secondary;
            border-radius: 50px;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover::after {
            height: 2px;
          }
        }
      }

      #active-filter {
        position: relative;
        filter: contrast(1);

        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 0;

          background-color: rgb(0, 0, 0);
          width: 100%;
          height: 2px;
          z-index: 1002;
        }
      }
    }
  }

  .button-filter {
    width: 10%;

    button {
      @include button();
      font-weight: 700;
    }
  }
}

// for the cards

.card-section {
  width: 100%;
  padding: 10px;

  .container {
    @include container();

    .cards {
      @include flex(row, center, space-between);

      .card {
        width: 20%;
        @include flex(column, flex-start, center);
        gap: 10px;

        .card-image {

            .images {
                width: 100%;
                height: 300px;
                position: relative;

                svg {
                    position: absolute;
                    right: 5%;
                    top: 5%;
                 
                }

                img {
                    border-radius: 20px;
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }

        .card-details {
            width: 100%;

            .card-title {
                font-weight: 500;
                margin-bottom: 5px;
            }

            .distance {
                color: $secondary;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .price {

                span {
                    font-weight: 500;
                }
            }
        }
      }
    }
  }
}
