* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "blinker", "Helvetica", "Roboto", sans-serif;
}

.container {
  margin: 0 5%;
}

.falex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

header {
  width: 100%;
  border-bottom: 1px solid #B0B0B0;
}
header .container .wrapper,
header .container .falex {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
header .container .wrapper > * {
  flex: 1;
}
header .container .logo {
  color: #FF385C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
header .container .logo .logo-color {
  font-weight: 700;
  font-size: 24px;
}
header .container .search,
header .container .samll-search {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .container .search .search-container,
header .container .samll-search .search-container {
  min-height: 0;
  border: 1px solid #B0B0B0;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 4px 25px -5px #DDDDDD;
  cursor: pointer;
}
header .container .search .search-container .any,
header .container .samll-search .search-container .any {
  padding: 0 10px;
  font-weight: 450;
  border-right: 1px solid #DDDDDD;
}
header .container .search .search-container .light-text,
header .container .samll-search .search-container .light-text {
  color: #B0B0B0;
  font-weight: 300;
  border: 0;
}
header .container .search .search-container .serach-logo,
header .container .samll-search .search-container .serach-logo {
  background-color: #FF385C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
header .container .search .search-container:hover,
header .container .samll-search .search-container:hover {
  box-shadow: 0px 4px 10px 0px #B0B0B0;
}
header .container .end-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
header .container .samll-search {
  width: 20%;
}
header .container .hoverable {
  padding: 10px;
}
header .container .hoverable:hover {
  border-radius: 20px;
  background-color: #efefef;
}

.filter-section {
  width: 100%;
  min-height: 10vh;
  padding: 10px 0;
}
.filter-section .icon-filter {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.filter-section .icon-filter .owl-carousel .item {
  position: relative;
}
.filter-section .icon-filter .owl-carousel .item span {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  filter: contrast(0.2954545455);
}
.filter-section .icon-filter .owl-carousel .item span img {
  width: 24px;
}
.filter-section .icon-filter .owl-carousel .item span p {
  font-weight: 500;
  font-size: 14px;
}
.filter-section .icon-filter .owl-carousel .item span:hover {
  filter: contrast(1);
}
.filter-section .icon-filter .owl-carousel .item span::after {
  content: "";
  height: 0px;
  width: 100%;
  background-color: #B0B0B0;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.filter-section .icon-filter .owl-carousel .item span:hover::after {
  height: 2px;
}
.filter-section .icon-filter .owl-carousel #active-filter {
  position: relative;
  filter: contrast(1);
}
.filter-section .icon-filter .owl-carousel #active-filter::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 2px;
  z-index: 1002;
}
.filter-section .button-filter {
  width: 10%;
}
.filter-section .button-filter button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #B0B0B0;
}

.card-section {
  width: 100%;
  padding: 10px;
}
.card-section .container {
  margin: 0 5%;
}
.card-section .container .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.card-section .container .cards .card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.card-section .container .cards .card .card-image {
  width: 100%;
}
.card-section .container .cards .card .card-image .images {
  width: 100%;
  height: 300px;
  background-color: antiquewhite;
}
.card-section .container .cards .card .card-image .images img {
  border-radius: 20px;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-section .container .cards .card > * {
  margin-bottom: 5px;
}